In [1]:
import pandas as pd

#### By Dictionary

In [2]:
pd.DataFrame({'id':[100,101,102], 'color':['red','blue','red']})

    id color
0  100   red
1  101  blue
2  102   red

In [3]:
pd.DataFrame({'id':[100,101,102], 'color':['red','blue','red']}, columns=['id','color'])

    id color
0  100   red
1  101  blue
2  102   red

In [5]:
df = pd.DataFrame({'id':[100,101,102], 'color':['red','blue','red']}, columns=['id','color'], index=['a','b','c'])

#### By List of List

In [8]:
pd.DataFrame([[100,'red'],[101,'blue'],[102,'red']], columns=['id','color'])

    id color
0  100   red
1  101  blue
2  102   red

#### By Numpy

In [9]:
import numpy as np

In [11]:
arr = np.random.rand(4,2)
arr

array([[0.69488883, 0.87482819],
       [0.68916848, 0.86168181],
       [0.02982295, 0.99447245],
       [0.40902052, 0.85279024]])

In [13]:
pd.DataFrame(arr, columns=['one','two'])

        one       two
0  0.694889  0.874828
1  0.689168  0.861682
2  0.029823  0.994472
3  0.409021  0.852790

##### By arrange

In [14]:
pd.DataFrame({'student': np.arange(100,110,1), 'test': np.random.randint(60,101,10)})

   student  test
0      100    83
1      101    77
2      102    68
3      103    92
4      104    74
5      105    60
6      106    87
7      107    77
8      108    89
9      109    92

In [15]:
pd.DataFrame({'student': np.arange(100,110,1), 'test': np.random.randint(60,101,10)}).set_index('student')

         test
student
100        61
101        94
102        62
103        94
104        96
105        63
106        85
107        90
108        92
109        84

#### Bonus Combing Series and DataFrame

In [19]:
s = pd.Series(['round','square'], index=['c','b'], name='shape')

In [17]:
df

    id color
a  100   red
b  101  blue
c  102   red

In [20]:
pd.concat([df,s],axis=1) # aligned by the index

    id color   shape
a  100   red     NaN
b  101  blue  square
c  102   red   round